ul{
  list-style: none;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 0;
  width: 605px;
  height: 35px;
  background-color: lightgray;
  box-shadow: 0 3px 4px gray;
}
li{
  float: left;
  border-right: 1px solid darkgray;
}
li:nth-child(6){
  border-right: none;
}
a{
  width: 100px;
  height: 35px;
  line-height: 35px;
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
}
a:hover{
  background-color: #000;
  color: #fff;
}
a:hover[id*=m6]{
background-color: #b30000;
color: #fff;
}