@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Nanum+Pen+Script&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
nav{
  float: left;  
  width: 900px;
  height: 100px;
  padding-top: 40px;
}
button{
  position: absolute;
  height: 100%; /* 이미지 높이에 맞추기 */
  top: 0;
  border: none; /* 테두리 없이 */
  padding: 20px;
  background-color: transparent; /* 배경을 투명하게 */
  color: red; /* 화살표 검은색 */
  font-weight: 800; /* 화살표 굵기 */
  font-size: 24px; /* 화살표 크기 */
  opacity: 0.5; /* 화살표의 투명도 */
}
#container{
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
}
header{
  width: 100%;
  height: 100px;
  background-color: skyblue;
}
#logo{
  width: 250px;
  height: 100px;
  float: left;
  line-height: 100px;
  padding-left: 20px;
}
#logo h1{
  font-family: 'Merienda', cursive;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 -1px 0 #222;
}
#topMenu{
  height: 60px;
}
#topMenu > li{
  float: left;
  position: relative;
}
#topMenu > li > a{
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 1px #07c;
  padding: 20px 60px;
}
#topMenu > li > a > span{
  font-size: 0.5em;
}
#topMenu > li > a:hover {
  color: #000;
  text-shadow: 0 -1px #07c;
}
#topMenu > li > ul {
  display: none;
  position: absolute;
  width: 160px;
  background-color: rgba(255, 255, 255, 0.2);
  left: 20px;
  margin: 0;
}
#topMenu > li > ul > li {
  padding: 10px 10px 10px 30px;
}
#topMenu > li > ul > li > a {
  font-size: 14px;
  padding: 10px;
  color: #000;
}
#topMenu > li:hover > ul {
  display: block;
  z-index: 10;
}
#topMenu > li > ul >li > a:hover {
  color: #000;
}
#slideShow{
  clear: both;
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#slides{
  position: absolute;
}
#slides > img{
  width: 100%;
  float: left;
}
#prev{
  left: 0;
}
#next{
  right: 0;
}
button:hover{
  background-color: #222;
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
}
button:focus{
  outline: 0;
}
#contents{
  width: 100%;
  height: 300px;
  margin-top: 20px; /* 추가 마진 */
}
#tabMenu{
  width: 50%;
  height: 100%;
  float: left;
  margin-top: 10px; /* 탭 메뉴 위쪽에 여백 두기 */
}
#tabMenu input[type="radio"]{
  display: none;
}
#tabMenu label{ /* 탭 제목 스타일 */
  display: inline-block; /* 탭을 가로로 배치 */
  margin: 0 0; /* 마진 */
  padding: 15px 25px; /* 패딩 */
  font-weight: 600; /* 폰트 굵기 */
  text-align: center; /* 폰트 가운데 정렬 */
  color: #aaa; /* 폰트 색상 */
  border: 1px solid transparent; /* 테두리 스타일 */
}
#tabMenu label:hover{ /* 마우스 포인터를 올렸을 때 탭 스타일 */
  color: #222;
  cursor: pointer;
}
#tabMenu input:checked + label{ /* 활성화 됬을 때 */
  color: red;
  border: 1px solid beige;
  background-color: beige;
}
.tabContent {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}
.tabContent h2 {
  display: none;
}
#notice ul{
  list-style: disc;
  margin-left: 30px;
}
#notice ul li{
  font-size: 16px;
  line-height: 2.5;
}
#gallery ul li{
  display: inline;
}
#tab1:checked ~ #notice,
#tab2:checked ~ #gallery {
  display: block;
}
#links{
  width: 50%;
  height: 100%;
  float: right; /* 오른쪽으로 플로팅 */
  margin-top: 15px; /* 추가 마진 */
}
#links ul {
  padding: 0; /* 패딩 */
  overflow: hidden; /* 넘치는 항목은 감춤 */
}
#links ul li{
  float: left; /* 가로 배치 */
  width: 33%; /* 세 항목의 영역을 균일하게 지정 */
  text-align: center; /* 가운데 정렬 */
  margin: 10px 0;
}
#links ul li a span{
  display: block; /* 블록 레벨로 지정 */
  margin: 0 auto; /* 가운데 배치 */
  width: 150px; /* 가로크기 */
  height: 150px; /* 세로 */
  border-radius: 50%; /* 테두리를 둥글게 지정 */
  border: 1px solid black; /* 테두리 */
  line-height: 150px; /* 수직으로 중간에 오게 */
}
#quick-icon1 {
  background-image: url('../images/icon-1.jpg');
}
#quick-icon2 {
  background-image: url('../images/icon-2.jpg');
}
#quick-icon3 {
  background-image: url('../images/icon-3.jpg');
}
#links ul li a p {
  margin-top: 15px;
  font-weight: 600;
  color: #666;
}
footer{
  width: 100%;
  height: 100px;
  border-top: 2px solid #222; /* 위쪽에 가로선 추가 */
  clear: both;
}
#bottomMenu{
  width: 100%;
  height: 20px;
  position: relative;
}
#bottonMenu ul {
  margin-top: 15px;
}
#bottomMenu ul li{
  float: left; /* 왼쪽으로 플로팅 */
  padding: 5px 20px;
  border-right: 1px solid #ddd; /* 항목 오른 쪽에 세로선 */
}
#bottomMenu ul li:last-child{
  border-right: none; /* 마지막 항목에는 오른쪽 세로선 삭제 */
}
#bottomMenu ul li a, #bottomMenu ul li a:visited{
  font-size: 15px; /* 크기 */
  color: #666; /* 색상 */
}
#sns{
  position: absolute;
  right: 0;
}
#sns ul li{
  border: none;
  padding: 5px;
}
#company {
  clear: left; /* 플로팅을 해제하라 */
  margin-top: 25px; /* 마진 */
  margin-left: 20px; 
}
p {
  font-size: 14px;
  color: #aaa;
}
@media screen  and (min-width:768px) and (max-width:1439px) {
  #container{
    width: 100vw;
  }
  nav{
    width: 100%;  
    padding-top: 40px;
    float: none;
  }
  #topMenu > li > a{
    padding: 2vw 2vh;
  }
  #tabMenu{
    width: 100%;
  }
  #tabMenu label{
    padding: 25px 40px; /* 패딩 */
    font-weight: 800; /* 폰트 굵기 */
    border: 1px solid transparent; /* 테두리 스타일 */
    border-radius: 5px;
  }
  #notice ul li{
    font-size: large;
  }
  #gallery{
    width: 100%;
  }
  #gallery img{
    width: 15%;
  }
  #links{
    width: 100%;
    clear: both;
  }
  footer #sns{
    display: none;
  }
}
@media screen and (max-width:768px){
  body{
    height: 100vh;
  }
  #container{
    width: 100vw;
  }  
}